<mat-toolbar color="primary" class="mat-elevation-z6">
  @if (showBack()) {
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <span>{{ getHeaderTitle() }}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu" class="language-button">
    <span class="flag">{{ getCurrentLanguageFlag() }}</span>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('cs')">
      <span class="menu-flag">🇨🇿</span>
      <span>Čeština</span>
    </button>
    <button mat-menu-item (click)="changeLanguage('en')">
      <span class="menu-flag">🇬🇧</span>
      <span>English</span>
    </button>
  </mat-menu>
  <button mat-icon-button class="example-icon" routerLink="rules">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
