.example-spacer {
  flex: 1 1 auto;
}

.language-button {
  margin-right: 8px;

  .flag {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    vertical-align: middle;
  }
}

.flag {
  font-size: 20px;
  display: inline-block;
}

.menu-flag {
  font-size: 18px;
  margin-right: 8px;
  display: inline-block;
}

