<mat-toolbar color="primary" class="mat-elevation-z6">
  @if (showBack()) {
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <span> {{player1}}-{{player2}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" routerLink="rules">
    <mat-icon>help_outline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink="settings">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
