<div class="settings-container">
  <mat-card class="settings-card">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="settings-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label i18n>Player 1</mat-label>
          <input matInput formControlName="player1Name" type="text" data-testid="player1Name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label i18n>Player 2</mat-label>
          <input matInput formControlName="player2Name" type="text" required data-testid="player2Name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label i18n>Target Score</mat-label>
          <input matInput formControlName="targetScore" type="number" required data-testid="targetScore">
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
            Update
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

