#game {
  padding-left: 1vw;
  padding-right: 1vw;
}

#controls {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

#scoreboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
