:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.router-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

