<div class="parent">
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>

  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>

  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>

  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>

  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>

  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
  <app-dice></app-dice>
</div>
