:host {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  place-items: center;
  width: 100%;
  height: 100%;
}

